/* RESET-STYLE.CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
 

  
*{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    font-style: none;
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #133C55;
}

/* CONFIGURAÇÕES GERAIS */

p{
    font-size: 14px;   
}

h1{
    font-size: 51px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 24px;
}

/* LAYOUT-STYLE.CSS */
/* LAYOUT GERENCIAMENTO */
#container_manager{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar main";
    grid-template-rows: 1fr 60px;
    grid-template-columns: 400px 1fr;
    position: relative;
    overflow-x: hidden;
}

.btn-default{
    padding: 0px 10px;
    height: 40px;
    width: 200px;    
    border-radius: 7px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}
.d-blue{
    background-color: #00A4FF;
    color: white;
}
.d-blue:hover{
    background-color: #5CC5FF;
    transition: 0.5s;
}
.d-blue:active{
    background-color: #008FDE;
    transition: 0.5s;
}

/* MENU  */

#container_mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container_mid h1{
    padding-top: 14px;
    font-size: 24px;
    padding-bottom: 40px;
}

